# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoint files
.ipynb_checkpoints/

# VSCode config
.vscode/

# OS files
.DS_Store

# certificates
*.pem
ca.crt
*.crt

# results
res.json 

# experimental notebooks
data_collection.ipynb
*.ipynb
