# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoint files
.ipynb_checkpoints/

# VSCode config
.vscode/

# OS files
.DS_Store

# certificates
*.pem
*.crt

# results
*.json 

# experimental notebooks
*.ipynb


# output graphs
*.html

# system files
/lib

# data files
*.pdf
*.txt

# logs
*.log